body {
    background-color: #2c3e50;
}

@font-face {
    font-family: 'Binggrae-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    color: #f1c40f;
    text-align: center;
    font-family: 'Binggrae-Bold';
    margin-bottom: 2px;
    font-size:550%;
    text-shadow: 1px 1px 15px #0a141f;
}

.greetings{
    text-shadow: none;
    margin-top: 5px;
    font-size:225%;
    background-color:blanchedalmond;
    color:#2c3e50;
    border-radius: 30px 30px;
    box-shadow: 1px 1px 5px #0a141f50;
}

.box{
    max-width: 100%;
    padding: 15px;
    background-color:rgba(222, 184, 135);
    border-radius: 15px;
    margin: 15px;
    box-shadow: 0px 0px 20px #0a141f;
}

.js-form {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: none;
}

.form{
    display: none:
}

.showing{
    display: block
}